<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cliente REST Twitter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>

    <!-- Mustache template -->
    <script id="template" type="x-tmpl-mustache">
        <div class="card p-3">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="https://twitter.com/{{user}}"
                       target="_blank"><span class="fas fa-user"></span> {{user}}</a>
                    dice en
                    <a href="https://twitter.com/{{user}}/status/{{id}}"
                       target="_blank"><span class="fab fa-twitter-square"></span> {{id}}</a>
                </h5>
                <p class="card-text">{{text}}</p>
            </div>
        </div>
    </script>


    <script src="http://code.jquery.com/jquery-3.0.0.min.js"
            th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>


    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

    <script
            src="https://cdn.jsdelivr.net/npm/mustache@2.3.0/mustache.min.js"
            th:src="@{/webjars/mustache/2.3.0/mustache.min.js}"></script>


    <script defer="" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"
            th:src="@{/webjars/font-awesome/5.0.6/svg-with-js/js/fontawesome-all.js}"></script>

    <script th:src="@{/indexFunctions.js}"
            src="../static/indexFunctions.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>


</head>
<body>


    <div id="firstContentPanel" class="row">
        <!--Left panel, with map-->
        <div class="col-md-8 leftPanel" style="border-right: 3px solid #ccc; padding-right:0;">


            <!--Barra de búsqueda-->
            <nav class="navbar navbar-dark bg-dark navbar-expand-sm sticky-top">
                <a class="navbar-brand" href="#">Political tweets</a>


                <form class="mx-2 my-auto d-inline w-100" id="search" action="tweets" method="get">
                    <div class="input-group">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="submit">Obtener tweets</button>
                        </span>
                    </div>
                </form>

                <!--<button class="btn btn-secondary" id="search">Buscar</button>-->



            </nav>

            <!--Resultados-->
            <div class="container-fluid" id="resultsSearch">
            </div>



        </div>


        <div class="col-md-4 rightPanel" style="padding-left:0;">

            <!--Tweet processor disponibles-->
            <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" id="original" href="#">Original <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="traduccion" href="#">Traduccion</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!--Resultados-->
            <div class="container-fluid" id="resultsBlock">
            </div>



        </div>
    </div>





</body>
</html>